{% load static %}{% include 'header.html'   %}
<div id="content">
    <section class="error-section" style="min-height: 724px;">
        <div class="error-content">
            <div class="container">
                <span>Dashboard</span>
                <h1>Welcome {{request.user.first_name}}</h1>
                <a href="{% url 'create_event' %}" style="margin-top:20px;"><button class="inactive-button">Create Event</button></a>
            </div>
        </div>
    </section>

</div>
<div id="content" class="with-paddings" style="margin-top: 50px;">

    <!-- page-title section -->
    <section class="page-title-section">
        <div class="container">
            <h1>Events</h1>
        </div>
    </section>
    <!-- End page-title section -->

    <!-- shopping-cart-section 
        ================================================== -->
    <section class="shopping-cart-section">
        <div class="container">
            <form class="checking-form">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>QR Code</th>
                                <th>Event Title</th>
                                <th>Date Created</th>
                                <th>Folder/Images</th>
                                <th>Action</th>
                            </tr>
                            {% for event_code in event_qrcodes %}
                            <tr>
                                <td><img src="data:image/png;base64,{{ event_code.qr_img_data }}" alt=""></td>
                                <td>
                                    <h2><a href="{% url 'event' event_credentials=event_code.event_instance.event_credentials secret_token=event_code.event_instance.secret_token %}">
                                        {{ event_code.event_instance.event_name }}</h2>
                                    </a>
                                </td>
                                <td>{{ event_code.event_instance.created|date }}</td>
                                <td>{{ event_code.event_instance.num_folders }} / {{ event_code.event_instance.num_photos }}</td>
                                <td>
                                    <a class="remove-item"  href="{% url 'download_qr_code' event_credentials=event_code.event_credentials_b64 secret_token=event_code.secret_token_b64 %}" target="_blank" download>
                                        <i class="fa fa-download" aria-hidden="true" style="font-size: 20px; margin-right:10px;"></i>
                                    </a>
                                    <a href="" class="remove-item" data-toggle="modal" data-target="#delModal{{ forloop.counter }}" >
                                        <i class="fa fa-times" style="font-size: 22px;"></i>
                                    </a>
                                    <div class="modal fade" id="delModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="delModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="delModalLabel">Delete Event</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Are you sure you want to delete? All the images will be completely lost</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <a href="{% url 'delete_event' event_credentials=event_code.event_instance.event_credentials %}" class="btn btn-primary">Delete</a>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </section>
    <!-- End shopping-cart section -->

</div>
{% include 'footer.html'   %}