{% include 'nav_links.html' %}<body>
{% load static %}
	<header class="clearfix">
		<!-- Static navbar -->
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{% url 'home' %}"><img alt="" src="{% static 'images/logo-black.png' %}"></a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class=""><a class="active" href="{% url 'home' %}">Home</a></li>
						{% if request.user.is_authenticated %}

						<li class=""><a class="active" href="{% url 'dashboard' %}">Events</a></li>
						<li class=""><a class="active" href="{% url 'saved_events' id=request.user.id %}">Favourites</a></li>
						<li class=""><a class="active" href="{% url 'user_logout' %}">Logout</a></li>
						{% else %}
						<li class=""><a class="active" href="{% url 'user_login' %}">Log In</a></li>
						<li class=""><a class="active" href="{% url 'register' %}">Register</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
	</header>


	{% if messages %}
      <div id="messages-popup" class="popup">
          {% for message in messages %}
              <div class="message {{ message.tags }}">
                  {{ message }}
              </div>
          {% endfor %}
      </div>
  {% endif %}