<body>

	<!-- Container -->
	<div id="container" class="without-padding">

		<!-- Header
		    ================================================== -->
		<header class="clearfix transparent-style">
			<!-- Static navbar -->
			<div class="navbar navbar-default navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="index.html"><img alt="" src="images/logo.png"></a>
					</div>
					<div class="navbar-collapse collapse">
						<a href="#" class="open-menu">
							<span></span>
							<span class="opened"></span>
							<span></span>
						</a>
						<ul class="nav navbar-nav navbar-right">
							<li class="drop-arrow"><a class="active" href="index.html">Home</a>
								<div class="megadrop two-col">
									<div class="inner-dropdown">
										<h2>Home Pages</h2>
										<div class="row">
											<div class="col-sm-6">
												<ul class="drop-items">
													<li><a href="index.html">Slideshow</a></li>
													<li><a href="home-scroll.html">Carousel</a></li>
													<li><a href="home-carousel.html">Category</a></li>
													<li><a href="home-showcase.html">Showcase</a></li>
													<li><a href="home-portfolio-masonry.html">Porfolio Masonry</a></li>
													<li><a target="_blank" href="one-page">One Page</a></li>
												</ul>
											</div>
											<div class="col-sm-6">
												<ul class="drop-items">
													<li><a href="home-gallery.html">Gallery with thumbnails</a></li>
													<li><a href="home-portfolio-grid.html">Portfolio Grid</a></li>
													<li><a href="home-blog.html">Photoblog</a></li>
													<li><a href="home-vertikal.html">Vertical menu</a></li>
													<li><a href="home-highlight.html">Highlight</a></li>
												</ul>
											</div>	
										</div>
									</div>
								</div>
							</li>
							<li class="drop-arrow"><a href="portfolio-grid-3col.html">Work</a>
								<div class="megadrop five-col">
									<div class="inner-dropdown">
										<div class="row">
											<div class="col-md-7">
												<div class="row">
													<div class="col-sm-4">
														<h2>Modern</h2>
														<ul class="drop-items">
															<li><a href="portfolio-fullscreen.html">Slideshow</a></li>
															<li><a href="portfolio-float.html">Float</a></li>
															<li><a href="portfolio-split.html">Split</a></li>
															<li><a href="portfolio-scroll.html">Carousel</a></li>
															<li><a href="portfolio-gallery.html">Gallery with thumbnails</a></li>
															<li><a href="portfolio-slider.html">Slider</a></li>
														</ul>
													</div>
													<div class="col-sm-4">
														<h2>Grid</h2>
														<ul class="drop-items">
															<li><a href="portfolio-grid-2col.html">2 Columns</a></li>
															<li><a href="portfolio-grid-3col.html">3 Columns</a></li>
															<li><a href="portfolio-grid-4col.html">4 Columns</a></li>
															<li><a href="portfolio-grid-2col-withtext.html">2 Columns with text</a></li>
															<li><a href="portfolio-grid-3col-withtext.html">3 Columns with text</a></li>
															<li><a href="portfolio-grid-4col-withtext.html">4 Columns with text</a></li>
														</ul>
													</div>
													<div class="col-sm-4">
														<h2>Masonry</h2>
														<ul class="drop-items">
															<li><a href="portfolio-masonry-2col.html">2 Columns</a></li>
															<li><a href="portfolio-masonry-3col.html">3 Columns</a></li>
															<li><a href="portfolio-masonry-4col.html">4 Columns</a></li>
															<li><a href="portfolio-masonry-2col-withtext.html">2 Columns with text</a></li>
															<li><a href="portfolio-masonry-3col-withtext.html">3 Columns with text</a></li>
															<li><a href="portfolio-masonry-4col-withtext.html">4 Columns with text</a></li>
														</ul>
													</div>
												</div>
											</div>
											<div class="col-md-5">
												<div class="row">
													<div class="col-sm-6">
														<h2>Vertical Menu</h2>
														<ul class="drop-items">
															<li><a href="portfolio-vertical-grid.html">Grid</a></li>
															<li><a href="portfolio-vertical-gridwithtext.html">Grid with text</a></li>
															<li><a href="portfolio-vertical-masonry.html">Masonry</a></li>
															<li><a href="portfolio-vertical-masonrywithtext.html">Masonry with text</a></li>
															<li><a href="portfolio-vertical-scroll.html">Carousel</a></li>
															<li><a href="portfolio-vertical-gallery.html">Gallery with thumbnails</a></li>
														</ul>
													</div>
													<div class="col-sm-6">
														<h2>Single Item</h2>
														<ul class="drop-items">
															<li><a href="single-project.html">Fullscreen</a></li>
															<li><a href="single-project-slider.html">Slider</a></li>
															<li><a href="single-project-desc.html">With right description</a></li>
															<li><a href="single-project-grid.html">Grid set</a></li>
															<li><a href="single-project-vertical.html">Vert menu slideshow</a></li>
															<li><a href="single-project-vertical2.html">Vert menu static img</a></li>
														</ul>
													</div>
												</div>
											</div>	
										</div>
									</div>
								</div>

							</li>
							<li class="drop-arrow"><a href="services.html">Pages</a>
								<div class="megadrop four-col">
									<div class="inner-dropdown">
										<div class="row">
											<div class="col-md-6">
												<h2>Simple Pages</h2>
												<div class="row">
													<div class="col-sm-6">
														<ul class="drop-items">
															<li><a href="about-me.html">About me</a></li>
															<li><a href="about-us.html">About us</a></li>
															<li><a href="about-me-vertical.html">About me Vert. menu</a></li>
															<li><a href="about-us-vertical.html">About us Vert. menu</a></li>
														</ul>
													</div>
													<div class="col-sm-6">
														<ul class="drop-items">
															<li><a href="services.html">Services</a></li>
															<li><a href="services-vertical.html">Services Vert. menu</a></li>
															<li><a href="contact.html">Contact</a></li>
															<li><a href="contact-vertical.html">Contact Vert. menu</a></li>
														</ul>
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<h2>Shop and other pages</h2>
												<div class="row">
													<div class="col-sm-6">
														<ul class="drop-items">
															<li><a href="shop.html">Shop Fullwidth</a></li>
															<li><a href="shop-sidebar.html">Shop with sidebar</a></li>
															<li><a href="single-product.html">Product</a></li>
															<li><a href="shop-vertical.html">Shop Vert. menu</a></li>
														</ul>
													</div>
													<div class="col-sm-6">
														<ul class="drop-items">
															<li><a href="single-product-vertical.html">Product Vert. menu</a></li>
															<li><a href="shopping-cart.html">Shopping cart</a></li>
															<li><a href="error-404.html">404 page</a></li>
															<li><a href="comming-soon.html">Comming Soon</a></li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="drop-arrow"><a href="blog-standart.html">Blog</a>
								<div class="megadrop three-col">
									<div class="inner-dropdown">
										<div class="row">
											<div class="col-md-8">
												<h2>Blog</h2>
												<div class="row">
													<div class="col-sm-6">
														<ul class="drop-items">
															<li><a href="blog-standart.html">Blog standart</a></li>
															<li><a href="blog-standart-sidebar.html">Blog with sidebar</a></li>
															<li><a href="blog-grid.html">Blog grid</a></li>
															<li><a href="blog-masonry.html">Blog masonry</a></li>
															<li><a href="blog-text-only.html">Blog text only</a></li>
														</ul>
													</div>
													<div class="col-sm-6">
														<ul class="drop-items">
															<li><a href="blog-full-img.html">Blog fullwidht imgs</a></li>
															<li><a href="blog-split.html">blog half split</a></li>
															<li><a href="blog-vertical-standard.html">blog standart vert. menu</a></li>
															<li><a href="blog-vertical-grid.html">Blog grid Vert. menu</a></li>
															<li><a href="blog-vertical-masonry.html">Blog masonry Vert. menu</a></li>
														</ul>
													</div>
												</div>
											</div>
											<div class="col-md-4">
												<h2>Blog Single Post</h2>
												<ul class="drop-items">
													<li><a href="single-post.html">Single post standart</a></li>
													<li><a href="single-post2.html">Single post with sidebar</a></li>
													<li><a href="single-post-vertical.html">Single post vert. menu</a></li>
													<li><a href="single-post-vertical2.html">Single post 2 Vert. menu</a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="open-search"><a href="#"><i class="fa fa-search"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>
		<!-- End Header -->

		