<!-- content 
			================================================== -->
            <div id="content">
                <div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classicslider1" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
                    <!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
                    <div id="rev_slider_4_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
                        <ul>	
                            <!-- SLIDE  -->
                            <li data-index="rs-149" data-transition="fadetotopfadefrombottom" data-slotamount="default"  data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500" data-rotate="0"  data-saveperformance="off"  data-title="Chill" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="upload/slide/sl1.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->
    
                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption NotGeneric-SubTitle tp-resizeme" 
                                     id="slide-149-layer-1" 
                                     data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
                                     data-y="['bottom','bottom','bottom','bottom']" data-voffset="['225','225','225','225']" 
                                                data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                         
                                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                     data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                    data-start="1500" 
                                    data-splitin="none" 
                                    data-splitout="none" 
                                    data-responsive_offset="on" 
    
                                    
                                    style="z-index: 6; white-space: nowrap;">Ideas 
                                </div>
    
                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption Newspaper-Title tp-resizeme" 
                                    id="slide-149-layer-2" 
                                    data-x="['left','left','left','left']" data-hoffset="['-1','-1','-1','-1']" 
                                    data-y="['bottom','bottom','bottom','bottom']" data-voffset="['162','162','162','162']"
                                    data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                         
                                    data-transform_in="y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
                                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                    data-start="1000" 
                                    data-splitin="chars" 
                                    data-splitout="none" 
                                    data-responsive_offset="on" 
    
                                    data-elementdelay="0.05" 
                                    
                                    style="z-index: 5; white-space: nowrap;"><a href="single-post.html">Cras iaculis ultricies</a>
                                </div>
    
                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption NotGeneric-SubTitle tp-resizeme" 
                                     id="slide-149-layer-3" 
                                     data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
                                     data-y="['bottom','bottom','bottom','bottom']" data-voffset="['150','150','150','150']" 
                                                data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                         
                                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                     data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                    data-start="1500" 
                                    data-splitin="none" 
                                    data-splitout="none" 
                                    data-responsive_offset="on" 
    
                                    
                                    style="z-index: 6; white-space: nowrap;">Nov 4th, 2015, 2 Comments 
                                </div>
    
                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption Newspaper-Title tp-resizeme" 
                                    id="slide-149-layer-4" 
                                    data-x="['right','right','right','right']" data-hoffset="['-1','-1','-1','-1']" 
                                    data-y="['bottom','bottom','bottom','bottom']" data-voffset="['162','162','162','162']"
                                    data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                         
                                    data-transform_in="y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
                                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                    data-start="1000" 
                                    data-splitin="chars" 
                                    data-splitout="none" 
                                    data-responsive_offset="on" 
    
                                    data-elementdelay="0.05" 
                                    
                                    style="z-index: 5; white-space: nowrap;"><a class="likes" href="#">32</a><i class="fa fa-heart-o"></i>
                                </div>
    
                            </li>
                            <!-- SLIDE  -->
                            <li data-index="rs-150" data-transition="fadetotopfadefrombottom" data-slotamount="default"  data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500" data-rotate="0"  data-saveperformance="off"  data-title="Chill" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="upload/slide/sl2.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->
    
                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption NotGeneric-SubTitle tp-resizeme" 
                                     id="slide-150-layer-1" 
                                     data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
                                     data-y="['bottom','bottom','bottom','bottom']" data-voffset="['225','225','225','225']" 
                                                data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                         
                                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                     data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                    data-start="1500" 
                                    data-splitin="none" 
                                    data-splitout="none" 
                                    data-responsive_offset="on" 
    
                                    
                                    style="z-index: 6; white-space: nowrap;">Ideas 
                                </div>
    
                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption Newspaper-Title tp-resizeme" 
                                    id="slide-150-layer-2" 
                                    data-x="['left','left','left','left']" data-hoffset="['-1','-1','-1','-1']" 
                                    data-y="['bottom','bottom','bottom','bottom']" data-voffset="['162','162','162','162']"
                                    data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                         
                                    data-transform_in="y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
                                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                    data-start="1000" 
                                    data-splitin="chars" 
                                    data-splitout="none" 
                                    data-responsive_offset="on" 
    
                                    data-elementdelay="0.05" 
                                    
                                    style="z-index: 5; white-space: nowrap;"><a href="single-post.html">Cras iaculis ultricies</a>
                                </div>
    
                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption NotGeneric-SubTitle tp-resizeme" 
                                     id="slide-150-layer-3" 
                                     data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
                                     data-y="['bottom','bottom','bottom','bottom']" data-voffset="['150','150','150','150']" 
                                                data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                         
                                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                     data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                    data-start="1500" 
                                    data-splitin="none" 
                                    data-splitout="none" 
                                    data-responsive_offset="on" 
    
                                    
                                    style="z-index: 6; white-space: nowrap;">Nov 4th, 2015, 2 Comments 
                                </div>
    
                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption Newspaper-Title tp-resizeme" 
                                    id="slide-150-layer-4" 
                                    data-x="['right','right','right','right']" data-hoffset="['-1','-1','-1','-1']" 
                                    data-y="['bottom','bottom','bottom','bottom']" data-voffset="['162','162','162','162']"
                                    data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                         
                                    data-transform_in="y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
                                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                    data-start="1000" 
                                    data-splitin="chars" 
                                    data-splitout="none" 
                                    data-responsive_offset="on" 
    
                                    data-elementdelay="0.05" 
                                    
                                    style="z-index: 5; white-space: nowrap;"><a class="likes" href="#">32</a><i class="fa fa-heart-o"></i>
                                </div>
    
                            </li>
                            <!-- SLIDE  -->
                            <li data-index="rs-151" data-transition="fadetotopfadefrombottom" data-slotamount="default"  data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500" data-rotate="0"  data-saveperformance="off"  data-title="Chill" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="upload/slide/sl3.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->
    
                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption NotGeneric-SubTitle tp-resizeme" 
                                     id="slide-151-layer-1" 
                                     data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
                                     data-y="['bottom','bottom','bottom','bottom']" data-voffset="['225','225','225','225']" 
                                                data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                         
                                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                     data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                    data-start="1500" 
                                    data-splitin="none" 
                                    data-splitout="none" 
                                    data-responsive_offset="on" 
    
                                    
                                    style="z-index: 6; white-space: nowrap;">Ideas 
                                </div>
    
                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption Newspaper-Title tp-resizeme" 
                                    id="slide-151-layer-2" 
                                    data-x="['left','left','left','left']" data-hoffset="['-1','-1','-1','-1']" 
                                    data-y="['bottom','bottom','bottom','bottom']" data-voffset="['162','162','162','162']"
                                    data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                         
                                    data-transform_in="y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
                                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                    data-start="1000" 
                                    data-splitin="chars" 
                                    data-splitout="none" 
                                    data-responsive_offset="on" 
    
                                    data-elementdelay="0.05" 
                                    
                                    style="z-index: 5; white-space: nowrap;"><a href="single-post.html">Cras iaculis ultricies</a>
                                </div>
    
                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption NotGeneric-SubTitle tp-resizeme" 
                                     id="slide-151-layer-3" 
                                     data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
                                     data-y="['bottom','bottom','bottom','bottom']" data-voffset="['150','150','150','150']" 
                                                data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                         
                                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                     data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                    data-start="1500" 
                                    data-splitin="none" 
                                    data-splitout="none" 
                                    data-responsive_offset="on" 
    
                                    
                                    style="z-index: 6; white-space: nowrap;">Nov 4th, 2015, 2 Comments 
                                </div>
    
                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption Newspaper-Title tp-resizeme" 
                                    id="slide-151-layer-4" 
                                    data-x="['right','right','right','right']" data-hoffset="['-1','-1','-1','-1']" 
                                    data-y="['bottom','bottom','bottom','bottom']" data-voffset="['162','162','162','162']"
                                    data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                         
                                    data-transform_in="y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
                                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                    data-start="1000" 
                                    data-splitin="chars" 
                                    data-splitout="none" 
                                    data-responsive_offset="on" 
    
                                    data-elementdelay="0.05" 
                                    
                                    style="z-index: 5; white-space: nowrap;"><a class="likes" href="#">32</a><i class="fa fa-heart-o"></i>
                                </div>
    
                            </li>
                            <!-- SLIDE  -->
                            <li data-index="rs-152" data-transition="fadetotopfadefrombottom" data-slotamount="default"  data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500" data-rotate="0"  data-saveperformance="off"  data-title="Chill" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="upload/slide/sl4.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->
    
                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption NotGeneric-SubTitle tp-resizeme" 
                                     id="slide-152-layer-1" 
                                     data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
                                     data-y="['bottom','bottom','bottom','bottom']" data-voffset="['225','225','225','225']" 
                                                data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                         
                                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                     data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                    data-start="1500" 
                                    data-splitin="none" 
                                    data-splitout="none" 
                                    data-responsive_offset="on" 
    
                                    
                                    style="z-index: 6; white-space: nowrap;">Ideas 
                                </div>
    
                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption Newspaper-Title tp-resizeme" 
                                    id="slide-152-layer-2" 
                                    data-x="['left','left','left','left']" data-hoffset="['-1','-1','-1','-1']" 
                                    data-y="['bottom','bottom','bottom','bottom']" data-voffset="['162','162','162','162']"
                                    data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                         
                                    data-transform_in="y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
                                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                    data-start="1000" 
                                    data-splitin="chars" 
                                    data-splitout="none" 
                                    data-responsive_offset="on" 
    
                                    data-elementdelay="0.05" 
                                    
                                    style="z-index: 5; white-space: nowrap;"><a href="single-post.html">Cras iaculis ultricies</a>
                                </div>
    
                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption NotGeneric-SubTitle tp-resizeme" 
                                     id="slide-152-layer-3" 
                                     data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
                                     data-y="['bottom','bottom','bottom','bottom']" data-voffset="['150','150','150','150']" 
                                                data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                         
                                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                     data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                    data-start="1500" 
                                    data-splitin="none" 
                                    data-splitout="none" 
                                    data-responsive_offset="on" 
    
                                    
                                    style="z-index: 6; white-space: nowrap;">Nov 4th, 2015, 2 Comments 
                                </div>
    
                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption Newspaper-Title tp-resizeme" 
                                    id="slide-152-layer-4" 
                                    data-x="['right','right','right','right']" data-hoffset="['-1','-1','-1','-1']" 
                                    data-y="['bottom','bottom','bottom','bottom']" data-voffset="['162','162','162','162']"
                                    data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                         
                                    data-transform_in="y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
                                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                    data-start="1000" 
                                    data-splitin="chars" 
                                    data-splitout="none" 
                                    data-responsive_offset="on" 
    
                                    data-elementdelay="0.05" 
                                    
                                    style="z-index: 5; white-space: nowrap;"><a class="likes" href="#">32</a><i class="fa fa-heart-o"></i>
                                </div>
    
                            </li>
                        </ul>
                        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	
                    </div>
                </div>
    
                <!-- autor section -->
                <section class="autor-section">
                    <div class="container">
                        <div class="autor-box">
                            <img src="upload/others/avatar.jpg" alt="">
                            <p>My name is John Doe and I'm a serial <br> blogger, photographer, <br> web designer.</p>
                        </div>
                    </div>
                </section>
                <!-- End autor section -->
    
                <!-- blog section -->
                <section class="blog-section">
                    <div class="container">
                        <div class="blog-box iso-call">
                            <div class="blog-post">
                                <div class="post-gallery">
                                    <a href="single-post.html"><img src="upload/blog/mas1.jpg" alt=""></a>
                                </div>
                                <div class="post-content">
                                    <span>Ideas</span>
                                    <h2><a href="single-post.html">Praesent placerat</a></h2>
                                    <span>Nov 4th, 2015, <a href="#">2 comments</a></span>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi.</p>
                                    <a class="likes" href="#">21 <i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                            <div class="blog-post">
                                <div class="post-gallery">
                                    <a href="single-post.html"><img src="upload/blog/mas2.jpg" alt=""></a>
                                </div>
                                <div class="post-content">
                                    <span>Ideas</span>
                                    <h2><a href="single-post.html">Praesent placerat</a></h2>
                                    <span>Nov 4th, 2015, <a href="#">2 comments</a></span>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi.</p>
                                    <a class="likes" href="#">21 <i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                            <div class="blog-post">
                                <div class="post-gallery">
                                    <a href="single-post.html"><img src="upload/blog/mas3.jpg" alt=""></a>
                                </div>
                                <div class="post-content">
                                    <span>Ideas</span>
                                    <h2><a href="single-post.html">Praesent placerat</a></h2>
                                    <span>Nov 4th, 2015, <a href="#">2 comments</a></span>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi.</p>
                                    <a class="likes" href="#">21 <i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                            <div class="blog-post quote-post">
                                <span>Quote</span>
                                <h2>Innovation Distinguishes Between A Leader &amp; <br>  A Follower.</h2>
                                <h4>Steve Jobs</h4>
                                <span>Nov 4th, 2015</span>
                            </div>
                            <div class="blog-post">
                                <div class="post-gallery">
                                    <a href="single-post.html"><img src="upload/blog/mas4.jpg" alt=""></a>
                                </div>
                                <div class="post-content">
                                    <span>Ideas</span>
                                    <h2><a href="single-post.html">Praesent placerat</a></h2>
                                    <span>Nov 4th, 2015, <a href="#">2 comments</a></span>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi.</p>
                                    <a class="likes" href="#">21 <i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                            <div class="blog-post">
                                <div class="post-gallery">
                                    <!-- Vimeo -->
                                    <iframe class="videoembed" src="http://player.vimeo.com/video/128493811?title=0&amp;byline=0&amp;portrait=0" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                                    <!-- End Vimeo -->
                                </div>
                                <div class="post-content">
                                    <span>Ideas</span>
                                    <h2><a href="single-post.html">Praesent placerat</a></h2>
                                    <span>Nov 4th, 2015, <a href="#">2 comments</a></span>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi.</p>
                                    <a class="likes" href="#">21 <i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                            <div class="blog-post">
                                <div class="post-gallery">
                                    <a href="single-post.html"><img src="upload/blog/mas5.jpg" alt=""></a>
                                </div>
                                <div class="post-content">
                                    <span>Ideas</span>
                                    <h2><a href="single-post.html">Praesent placerat</a></h2>
                                    <span>Nov 4th, 2015, <a href="#">2 comments</a></span>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi.</p>
                                    <a class="likes" href="#">21 <i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                            <div class="blog-post">
                                <div class="post-gallery">
                                    <a href="single-post.html"><img src="upload/blog/mas6.jpg" alt=""></a>
                                </div>
                                <div class="post-content">
                                    <span>Ideas</span>
                                    <h2><a href="single-post.html">Praesent placerat</a></h2>
                                    <span>Nov 4th, 2015, <a href="#">2 comments</a></span>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi.</p>
                                    <a class="likes" href="#">21 <i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                            <div class="blog-post">
                                <div class="post-gallery">
                                    <a href="single-post.html"><img src="upload/blog/mas7.jpg" alt=""></a>
                                </div>
                                <div class="post-content">
                                    <span>Ideas</span>
                                    <h2><a href="single-post.html">Praesent placerat</a></h2>
                                    <span>Nov 4th, 2015, <a href="#">2 comments</a></span>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi.</p>
                                    <a class="likes" href="#">21 <i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="center-button">
                            <a href="#" class="load-post-container" data-load="blog-container1.html" data-number="3">show me more</a>
                        </div>
                    </div>
                </section>
                <!-- End blog section -->
    
                <!-- subscribe section -->
                <section class="subscribe-section">
                    <div class="container">
                        <form class="subscribe">
                            <h1>Subscription</h1>
                            <input type="text" name="email_address" id="email_address" placeholder="your email address:"/>
                            <button type="submit"><i class="fa fa-arrow-circle-o-right"></i></button>
                        </form>
                    </div>
                </section>
                <!-- End subscribe section -->
    
                <!-- instagram feed section -->
                <section class="instagram-feed-section">
                    <h1>instagram widget @Photofolio</h1>
                    <ul class="instagram-list">
                        <li>
                            <img src="upload/others/inst1.jpg" alt="">
                            <div class="hover-box">
                                <a class="likes" href="#"><i class="fa fa-heart-o"></i>1.2 k</a>
                                <a class="comments" href="#"><i class="fa fa-comment-o"></i>52</a>
                                <a class="instagram-link" href="#">Morbi in sem quis dui placerat ornare #design #interior #hipster #photo #photosite</a>
                            </div>
                        </li>
                        <li>
                            <img src="upload/others/inst2.jpg" alt="">
                            <div class="hover-box">
                                <a class="likes" href="#"><i class="fa fa-heart-o"></i>1.2 k</a>
                                <a class="comments" href="#"><i class="fa fa-comment-o"></i>52</a>
                                <a class="instagram-link" href="#">Morbi in sem quis dui placerat ornare #design #interior #hipster #photo #photosite</a>
                            </div>
                        </li>
                        <li>
                            <img src="upload/others/inst3.jpg" alt="">
                            <div class="hover-box">
                                <a class="likes" href="#"><i class="fa fa-heart-o"></i>1.2 k</a>
                                <a class="comments" href="#"><i class="fa fa-comment-o"></i>52</a>
                                <a class="instagram-link" href="#">Morbi in sem quis dui placerat ornare #design #interior #hipster #photo #photosite</a>
                            </div>
                        </li>
                        <li>
                            <img src="upload/others/inst4.jpg" alt="">
                            <div class="hover-box">
                                <a class="likes" href="#"><i class="fa fa-heart-o"></i>1.2 k</a>
                                <a class="comments" href="#"><i class="fa fa-comment-o"></i>52</a>
                                <a class="instagram-link" href="#">Morbi in sem quis dui placerat ornare #design #interior #hipster #photo #photosite</a>
                            </div>
                        </li>
                        <li>
                            <img src="upload/others/inst5.jpg" alt="">
                            <div class="hover-box">
                                <a class="likes" href="#"><i class="fa fa-heart-o"></i>1.2 k</a>
                                <a class="comments" href="#"><i class="fa fa-comment-o"></i>52</a>
                                <a class="instagram-link" href="#">Morbi in sem quis dui placerat ornare #design #interior #hipster #photo #photosite</a>
                            </div>
                        </li>
                        <li>
                            <img src="upload/others/inst6.jpg" alt="">
                            <div class="hover-box">
                                <a class="likes" href="#"><i class="fa fa-heart-o"></i>1.2 k</a>
                                <a class="comments" href="#"><i class="fa fa-comment-o"></i>52</a>
                                <a class="instagram-link" href="#">Morbi in sem quis dui placerat ornare #design #interior #hipster #photo #photosite</a>
                            </div>
                        </li>
                    </ul>
                </section>
                <!-- End instagram feed section -->
    
            </div>
            <!-- End content -->
