{% include 'header.html'   %}
<div id="content" class="with-paddings">

    <!-- page-title section -->
    <section class="page-title-section">
        <div class="container">
            <ul class="page-pag">
                <li><a href="#">Pages</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <h1>Contact</h1>
        </div>
    </section>
    <!-- End page-title section -->

    <!-- contact section -->
    <section class="mb-3">
        <div class="container">
            <div class="col-4">
                <h1>Login</h1>
                <form id="contact-form" action="{% url 'user_login' %}" method ="POST">
                    {% csrf_token %}
                    <input name="username" id="name" type="text" placeholder="Username" required>
                    <input name="password" id="name" type="password" placeholder="Password" required>
                    <input type="submit" value="Submit">
                    <div id="msg" class="message"></div>
                </form>
            </div>
        </div>


    </section>
    <!-- End contact section -->

    <!-- contact-info section -->
    <section class="contact-info-section" style="margin-top: 20px;">

        <div class="container">
            <div class="row">
                <!-- <div class="col-md-4">
                    <div class="info-data">
                        <i class="fa fa-map-marker"></i>
                        <h3>Our Location</h3>
                        <p>412 Throop Ave, <br> Brooklyn, NY 11221, USA</p>
                    </div>
                </div> -->
                <div class="col-md-6">
                    <div class="info-data">
                        <i class="fa fa-phone"></i>
                        <h3>Our Phone</h3>
                        <p>+977 9860846037</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="info-data">
                        <i class="fa fa-envelope-o"></i>
                        <h3>Our Email</h3>
                        <p>roshandahal.r@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- End contact-info section -->

</div>
{% include 'footer.html'   %}