{% include 'header.html'   %}
<div id="content">
    <section class="error-section" style="min-height: 724px;">
        <div class="error-content">
            <div class="container">
                <span>SUCCESS</span>
                <h1>Registration successful, please check your email for activation email.</h1>
                <a href="{% url 'home' %}" style="margin-top:20px;"><button class="inactive-button">Home</button></a>
            </div>
        </div>
    </section>

</div>

{% include 'footer.html'   %}