{% load static %}{% include 'header.html'   %}
{% if saved_events_data %}
    
<div id="content" class="with-paddings" style="margin-top: 50px;">
    
    <!-- page-title section -->
    <section class="page-title-section">
        <div class="container">
            <h1>Saved Events</h1>
        </div>
    </section>


    <section class="blog-section border-tp">
        <div class="container">
            <div class="inner-blog">
                <div class="blog-box">
                    <div class="row">
                        {% for item in events_with_num_images  %} 
                        <div class="col-md-4" style="border:0.5px solid black; margin:5px;">
                            <div class="blog-post" style="margin-bottom: 20px;">
                                <div class="post-content">
                                    <span>{{item.created}}</span>
                                    <h2><a href="{% url 'event' event_credentials=item.event_credentials secret_token=item.secret_token %}">{{item.event_name}}</a></h2>
                                    <span>{{item.num_images}} items</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
    
{% else %}
<section class="services-section2">
    <div class="container">
        <div class="title-section">
            <h1 style="margin-bottom:20px;">You Havent Saved any Events.</h1>
        </div>
    </div>
</section>
{% endif %}
{% include 'footer.html'   %}